[Unit]
Description=Git Autopush

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.local/bin/autopush/autopush.sh
StandardOutput=append:%h/.local/bin/autopush/autopush.log
StandardError=append:%h/.local/bin/autopush/autopush.log
