[Unit]
Description=Git Autopush

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/autopush/autopush.sh
StandardOutput=append:/usr/local/bin/autopush/autopush.log
StandardError=append:/usr/local/bin/autopush/autopush.log
